h1{
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
}

input {
  width: 100%;
}

.item-contianer {
  text-align: left;
}

.Ab-button {
  min-width: 80px;
}

.Ab-row{
  margin: 10px 5px;
}
